<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button (click)="open()" menu="first"></ion-menu-button>
  </ion-buttons>
  <ion-title>Categories</ion-title>
</ion-toolbar>

<ion-content>
  <div *ngFor="let category of categories" class="categories">
    <!-- grabbing items that are listed in the array -->
    <ion-item>
      <p id="list-modal-{{ category._id }}" style="width: 100%">
        {{ category.category_name }}
      </p>

      <div class="item-note" slot="end">
        <!-- update button -->
        <button ion-button clear style="background-color: transparent">
          <ion-icon name="create-outline" style="color: green; font-size: 24px" class="edit-btn" name="create-outline" id="open-modal-{{ category._id }}" expand="block" (click)="passInfo(category._id, category.category_name)"></ion-icon>
        </button>

        <!-- delete button -->
        <button ion-button clear (click)="deleteCategory(category._id)" style="background-color: transparent">
          <ion-icon name="trash-outline" style="color: red; font-size: 24px"></ion-icon>
        </button>
      </div>
    </ion-item>

    <!-- Edit Modal -->
    <ion-modal trigger="open-modal-{{ category._id }}" (willDismiss)="onWillDismiss($event)" #updateModal>
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="updateModal.dismiss(null, 'cancel')">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="updateModal.dismiss(null, 'update')" [strong]="true">
                Update
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-input type="text" placeholder="Category" [(ngModel)]="inputValue"></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>

<ion-modal #modal *ngFor="let category of categories" trigger="list-modal-{{ category._id }}">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          {{ category.category_name }}
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!-- <ion-list>
        <ion-item
          *ngFor="
            let shoppingItem of items
              | itemByCategory: 'categoryID':category._id
          "
        >
          <ion-label>
            <h2>{{ shoppingItem["item_name"] }}</h2>
            <p>{{ shoppingItem["price"] }}</p>
            <p>{{ shoppingItem["quantity"] }}</p>
          </ion-label>
        </ion-item>
      </ion-list> -->

      <ion-accordion-group #accordionGroup>
        <ion-accordion *ngFor="let shoppingItem of items">
          <ion-item slot="header">
            <ion-label>
              <h1>
                {{ shoppingItem["item_name"] }}
              </h1>
            </ion-label>
            <ion-label>
              <p>
                {{ shoppingItem["price"] }}
              </p>
            </ion-label>
            <ion-label>
              <p>
                {{ shoppingItem["quantity"] |currency }}
              </p>
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-label>
              <h1>
                {{ shoppingItem["item_name"] }}
              </h1>
            </ion-label>
            <div class="action-btn">
              <ion-icon name="create-outline" style="color: green; font-size: 24px" class="edit-btn" name="create-outline"></ion-icon>
              <ion-icon name="trash-outline" style="color: red; font-size: 24px"></ion-icon>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-content>
  </ng-template>
</ion-modal>