<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button (click)="open()" menu="first"></ion-menu-button>
  </ion-buttons>
  <ion-title> All Items </ion-title>
</ion-toolbar>

<ion-content>
  <div class="board">
    <table width="100%">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Milk</td>
          <td>4 </td>
          <td>500</td>
          <td>
            <ion-icon class="edit-btn" name="create-outline"></ion-icon>
            <ion-icon class="delete-btn" name="trash-outline"></ion-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="openModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>