<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button (click)="open()" menu="first"></ion-menu-button>
  </ion-buttons>
  <ion-title> All Items </ion-title>
</ion-toolbar>

<ion-content>
  <div class="board">
    <table width="100%">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of items">
        <tr>
          <td>{{item.item_name}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.price}}</td>
          <td>
            <ion-icon class="edit-btn" name="create-outline" id="open-modal-{{ item._id }}" expand="block" (click)="passInfo(item)"></ion-icon>
            <ion-icon class="delete-btn" name="trash-outline" (click)="deleteItem(item._id)"></ion-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="openModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

   <!-- Edit Modal -->
   <ion-modal *ngFor="let item of items" trigger="open-modal-{{ item._id }}" (willDismiss)="onWillDismiss($event)" #updateModal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="updateModal.dismiss(null, 'cancel')">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="updateModal.dismiss(null, 'update')" [strong]="true">
              Update
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
            <ion-input type="text" placeholder="Name" [(ngModel)]="inputName"></ion-input> 
        </ion-item>
        
        <ion-item>
            <ion-input type="text" placeholder="Price" [(ngModel)]="inputPrice" ></ion-input> 
          </ion-item>
  
          <ion-item>
            <ion-input type="text" placeholder="Quantity" [(ngModel)]="inputQuantity"></ion-input>
          </ion-item>

            <!-- <ion-select placeholder="category">
              <ion-item-options>love</ion-item-options>
            </ion-select> -->
          
       
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

