
ion-accordion{
    ion-item{
    ion-label{
       
    
        h1{
            font-size: 15px;
            color: #777;
         
    
        }
    
        p{
            color: #777;
    
        }
    }
    }
    }
    
    .ion-padding{
    
        h1{
            font-size: 18px;
            color: rgb(173, 173, 173);
    
        }
    
        .action-btn{
            margin-left: 11rem;
    
            ion-icon{
                margin-right: .5rem;
            }
    
        }
    
    }