form{
    margin: auto;
    width: 200px;
}

h3{
  margin-left: -90px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemName, .category, .quantity, .price{
    display: grid;
    grid-template-columns: 100%;
}

form input, select{
    width: 200px;
    outline: none;
    height: 25px;
    border: 1px solid gray;
    border-radius: 2px;
}

.error{
    color: red;
    margin-left: -100px;
}

ion-select{
    height: 25px;
}

ion-button{
    height: 25px;
    text-transform: capitalize;
    margin-left: -120px;
    border-radius: 3px;
    width: 80px;
}