<ion-app>
  <ion-menu side="start" menuId="first" contentId="first" type="overlay">
    <ion-header>
      <ion-toolbar color="primary" class="menu">
        <ion-title routerLink="/">Home</ion-title>
        <ion-icon name="close-outline" size="large" slot="end" (click)="close()"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/items" menuToggle>Items</ion-item>
        <ion-item routerLink="/categories">Categories</ion-item>
        <ion-item (click)="openModal()">Add Items</ion-item>
        <ion-item routerLink="/add-category">Add Categories</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="first"></ion-router-outlet>
</ion-app>