<ion-app>
  <ion-menu side="start" menuId="first" contentId="first" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Menu
          <ion-icon name="close-outline" size="large" (click)="close()"></ion-icon>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="close()">Items</ion-item>
        <ion-item (click)="close()">Categories</ion-item>
        <ion-item (click)="close()">Add Items</ion-item>
        <ion-item (click)="close()">Add Categories</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="first"></ion-router-outlet>
</ion-app>
