<form [formGroup]="itemForm">
  <div class="return_button" (click)="closeDialog()">
    <ion-icon name="return-down-back-outline"></ion-icon> &nbsp;  <span style="color: blue;">return</span>
  </div>
  <div class="wrapper">
    <h3>Add an Item</h3>
    <div #message></div>
    <div class="name">
      <ion-input type="text" placeholder="Item Name" formControlName="item_name" #Name></ion-input>
      <div class="error" *ngIf="item_name?.invalid && item_name?.touched">
        <small>Enter name of item</small>
      </div>
    </div>
    <div class="category">
      <ion-select formControlName="categoryID" placeholder="Select Category" #Category>
        <ion-select-option value="">--Category--</ion-select-option>
        <ion-select-option *ngFor="let group of categories" value="{{group._id}}">{{group.category_name}}</ion-select-option>
      </ion-select>
      <div class="error" *ngIf="categoryID.value == '' && categoryID?.touched">
        <small>Select a category</small>
      </div>
    </div>
    <div class="price">
      <ion-input type="number" placeholder="Cost" formControlName="price" #Price></ion-input>
      <div class="error" *ngIf="price?.invalid && price?.touched">
        <small>Enter price of item</small>
      </div>
    </div>
    <div class="quantity">
      <ion-input type="number" placeholder="Quantity" formControlName="quantity" #Quantity></ion-input>
      <div class="error" *ngIf="quantity?.invalid && quantity?.touched">
        <small>Enter quantity of item</small>
      </div>
    </div>
    <div class="submit">
      <button (click)="addItem()">Add Item</button><br>
    </div>
  </div>
</form>
