<form action="" [formGroup]="itemForm">
  <div class="wrapper">
    <div class="name">
      <input type="text" placeholder="Item Name" formControlName="name">
      <div class="error" *ngIf="name?.invalid && name?.touched">
        <small>Enter name of item</small>
      </div>
    </div>
    <div class="category" formControlName="category">
      <select>
        <option value="">--Category--</option>
        <option value="protein">Protein</option>
        <option value="staple">Staple</option>
        <option value="fruit">Fruit</option>
      </select>
      <div class="error" *ngIf="category.value == '' && category?.touched">
        <small>Select a category</small>
      </div>
    </div>
    <div class="price">
      <input type="number" placeholder="Cost" formControlName="price">
      <div class="error" *ngIf="price?.invalid && price?.touched">
        <small>Enter price of item</small>
      </div>
    </div>
    <div class="quantity">
      <input type="number" placeholder="Quantity" formControlName="quantity">
      <div class="error" *ngIf="quantity?.invalid && quantity?.touched">
        <small>Enter quantity of item</small>
      </div>
    </div>
  </div>
</form>
