<ion-content>  
  <ion-item>

    <!-- input field to add new item -->
    <ion-input type="text" placeholder="Add Category" [(ngModel)]="inputValue"></ion-input>
    
    <!-- icon for adding new item -->
    <div class="item-note">
      <button ion-button style="background-color: transparent ;"(click)="addCategory(inputValue)">
        <ion-icon name="add" style="color: blue; font-size:40px; cursor: pointer;"></ion-icon>
    </button>
    </div>

  </ion-item>  

  <div >
  
  <!-- grabbing items that are listed in the array -->
    <ion-item *ngFor="let todo of categories; let i = index">
      <p>{{todo.category_name}}</p>

      <div class="item-note" slot="end">
        
        <!-- update button -->
          <button ion-button clear (click)="updateCategory(i)" style="background-color: transparent;">
            <ion-icon name="create-outline"  style="color: green; font-size:24px"></ion-icon>
          </button>
        
        <!-- delete button -->
          <button ion-button clear (click)="deleteCategory(i)" style="background-color: transparent;">
            <ion-icon name="trash-outline" style="color: red; font-size:24px" ></ion-icon>
          </button>
      </div>

    </ion-item>

  </div>

</ion-content>






