<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button (click)="open()" menu="first"></ion-menu-button>
  </ion-buttons>
  <ion-title> Categories </ion-title>
</ion-toolbar>

<ion-content>  
  <ion-item>

    <!-- input field to add new item -->
    <ion-input type="text" placeholder="Add Category" [(ngModel)]="inputValue"></ion-input>
    
    <!-- icon for adding new item -->
    <div class="item-note">
      <button ion-button style="background-color: transparent ;"(click)="addCategory(inputValue)">
        <ion-icon name="add" style="color: blue; font-size:40px; cursor: pointer;"></ion-icon>
    </button>
    </div>

  </ion-item>  

</ion-content>
