<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="open()" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title> Shoppinglist </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-img">
    <h2>Welcome to group 4 Shopping list</h2>

  </div>
</ion-content>



<ion-fab vertical="center" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add" (click)="openModal()"></ion-icon>
  </ion-fab-button>
</ion-fab>